:root {
  height: 100%;
  box-sizing: border-box;
  overscroll-behavior: none;
  overflow: scroll;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #212121;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #212121;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100%;
  background: #fbfdfc;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ddd white;
}

*::-webkit-scrollbar {
  width: 0.75rem;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 1rem;
  border: 3px solid white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

textarea {
  resize: none;
  font-size: inherit;
  font-family: inherit;
}

.card {
  padding: 2em;
}
